__pycache__/
.firebase/
.venv/
core/
node_modules/
public/
scripts/
static/
templates/
.backend-url.tmp
.env
.env.example
.firebaserc
.gitignore
.gcloudignore
*.bat
*.md
firebase.json
package.json
package-lock.json
question_log.json
serve_frondend.py
*.ps1
doc/


